.venv/
**/__pycache__/
**/*.pyc
.pytest_cache/
**/.pytest_cache/

logs/
**/*.log

.env
.env.*
!.env.example

frontend/node_modules/
frontend/dist/

storage/captured_faces/
storage/embeddings/*.npy

.git/
.gitignore
.idea/
.vscode/

**/.DS_Store

docker-compose*.yml
**/Dockerfile
docs/
scripts/
